{% extends "base.html" %} {% load static %} {% block content %}


<!-- <h1 class="text-4xl justify-center font-bold mt-10 flex items-center"> Train Information</h1>
<div class="bg-green-600 h-2 w-24 my-6 mx-auto"></div> -->

<!-- category start -->
<p class="m-2 text-center text-2xl font-bold mt-5">
  Select Departure Station 
</p>
<!-- <p class="m-2 text-center text-xl font-bold mt-5">
 {{trains | length}} Stations
</p> -->



<div class="flex items-center justify-center mx-auto my-3 rounded-lg">
  <div class="flex items-center m-4">
    <a class="bg-green-600 mx-2 px-3 py-2 rounded-lg text-white" href="{% url 'home' %}"
      >All</a
    >
    {% for i in station %}
    <a
      class="bg-green-600 text-white mx-2 px-3 py-2 rounded-lg"
      href="{% url 'station_wise' i.slug %}"
      >{{i.name}}</a
    >

    {% endfor %}
  </div>
</div>

<!-- category end -->

{% if trains %}
<div class="mx-24 my-12">
  {% for train in trains %}
  <div class="mx-auto bg-gray-200 rounded-lg">
    <div class="rounded-lg">
      <div class="px-6 mt-5 pt-5">
        <h5 class="text-xl font-bold">{{train.name }}</h5>
        <p class="italic">{{ train.time }}</p>
      </div>
      <div class="flex justify-between items-center py-3 px-6">
        <p class="text-xl">
            Departure: 
            {% for cat in train.station.all %}    
              {{ cat.name }}
            {% endfor %}
        </p>
        <p class="text-xl">Destination: {{ train.destination }}</p>
        <p>
          <a href="{% url 'details_train' train.id %}">
            <button class="bg-green-600 rounded-lg w-56 py-3 text-white font-extrabold" >
            Details
          </button>
          </a>
        </p>
      </div>
      {% if request.user.is_staff %}
      <div class="flex justify-between p-8">
        <a href="{% url 'edit_train' train.id %}">
          <button class="bg-green-600 rounded-lg w-56 py-3 text-white font-extrabold" >
            Edit 
          </button>
        </a>
        <a href="{% url 'delete_train' train.id %}">
          <button class="bg-red-600 rounded-lg w-56 py-3 text-white font-extrabold" >
          Delete
        </button>
        </a>
      </div>
        {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p class="text-3xl font-bold my-12 text-center text-red-600">Sorry, No Trains is Departuring From this Station</p>

{% endif %}


<!-- <div class="flex items-center">
  <div class="w-1/2">
    <form>
      <label>From</label>
      <input type="text" required class="border-b-2" />
      <label>To</label>
      <input type="text" required class="border-b-2" />
    </form>
  </div>
  <div class="w-1/2">
    <img class="" src="{% static 'img/banner.jpg' %}" alt="" />
  </div>
</div> -->

<div class="flex justify-between mx-24"> 
  <div class="w-1/3 p-12">
    <img class="w-36" src="https://eticket.railway.gov.bd/assets/img/home/search.svg" alt="">
    <h1 class="mt-5 font-extrabold text-xl">Search</h1>
    <p>Choose your origin, destination,<br> journey dates and search for trains</p>
  </div>
  <div class="w-1/3 p-12">
    <img src="https://eticket.railway.gov.bd/assets/img/home/select.svg" alt="">
    <h1 class="mt-5 font-extrabold text-xl">Select</h1>
    <p>Select your desired trip and choose <br> your seats</p>
  </div>
  <div class="w-1/3 p-12">
    <img src="https://eticket.railway.gov.bd/assets/img/home/pay.svg" alt="">
    <h1 class="mt-5 font-extrabold text-xl">Pay</h1>
    <p>Pay for the tickets via Debit / Credit <br> Cards or MFS</p>
  </div>
</div>

<div class="flex justify-between items-center mx-12 my-12">
  <div class="w-1/2 ">
    <img class="mx-auto" src="https://eticket.railway.gov.bd/assets/img/home/instruction-secion-image.png" alt="">
  </div>
  <div class="w-1/2">
    <h1 class="text-3xl font-bold">Instructions to Purchase Tickets</h1>
    <ul class="mt-6">
      <li class="my-3 text-xl"><span class="font-bold text-2xl">-</span> Select Departure first</li>
      <li class="my-3 text-xl"><span class="font-bold text-2xl">-</span> Login To See Details</li>
      <li class="my-3 text-xl"><span class="font-bold text-2xl">-</span> Then Select Seat and click Buy</li>
      <li class="my-3 text-xl"><span class="font-bold text-2xl">-</span> See your Dashboard and See booked Ticket</li>
    </ul>
  </div>
</div>

{% endblock %}
