{% extends "base.html" %} {% load static %} {% block content %}


<h1 class="text-4xl justify-center font-bold mt-10 flex items-center"> Train Information</h1>
<div class="bg-green-600 h-2 w-24 my-6 mx-auto"></div>

<!-- category start -->
<p class="m-2 text-center text-xl font-bold mt-5">
  Select your Station | {{trains | length}} Results Found
</p>



<div class="flex items-center justify-center mx-auto my-3 rounded-lg">
  <div class="flex items-center m-4">
    <a class="bg-yellow-500 mx-2 px-3 py-2 rounded-lg" href="{% url 'home' %}"
      >All</a
    >
    {% for i in station %}
    <a
      class="bg-yellow-500 mx-2 px-3 py-2 rounded-lg"
      href="{% url 'station_wise' i.slug %}"
      >{{i.name}}</a
    >

    {% endfor %}
  </div>
</div>

<!-- category end -->

{% if trains %}
<div class="mx-24 my-12">
  {% for train in trains %}
  <div class="mx-auto bg-gray-400 rounded-lg">
    <div class="rounded-lg">
      <div class="px-6 mt-3">
        <h5 class="text-xl font-bold">{{train.name }}</h5>
        <p class="italic">{{ train.time }}</p>
      </div>
      <div class="flex justify-between items-center py-3 px-6">
        <p class="text-xl">
            Departure: 
            {% for cat in train.station.all %}    
              {{ cat.name }}
            {% endfor %}
        </p>
        <p class="text-xl">Destination: {{ train.destination }}</p>
      </div>
      <div class="flex justify-between p-8">
      {% if request.user.is_staff %}
        <a href="{% url 'edit_train' train.id %}">
          <button class="bg-green-600 rounded-lg w-56 py-3 text-white font-extrabold" >
            Edit 
          </button>
        </a>
        <a href="{% url 'delete_train' train.id %}">
          <button class="bg-red-600 rounded-lg w-56 py-3 text-white font-extrabold" >
          Delete
        </button>
        </a>
        {% endif %}
        <a href="{% url 'details_train' train.id %}">
          <button class="bg-green-600 rounded-lg w-56 py-3 text-white font-extrabold" >
          Details
        </button>
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<p class="text-3xl font-bold my-12 text-center text-red-600">Sorry, No Trains is Departuring From this Station</p>

{% endif %}


<div class="flex items-center">
  <div class="w-1/2">
    <form>
      <label>From</label>
      <input type="text" required class="border-b-2" />
      <label>To</label>
      <input type="text" required class="border-b-2" />
    </form>
  </div>
  <div class="w-1/2">
    <img class="" src="{% static 'img/banner.jpg' %}" alt="" />
  </div>
</div>

{% endblock %}
