{% load static %}
<nav class="px-12 py-6 shadow-lg">
    <div class="flex items-center justify-between">
        <div class="flex items-center">
            <img class="w-12 h-16 mr-3" src="{% static 'img/logo.jpg' %}" alt="">
            <h1>Train Ticket System</h1></div>
        <div>
            <ul class="flex">
                <li class="mr-6"><a href="{% url 'home' %}">Home</a></li>
                <li class="mr-6"><a href="{% url 'train_list' %}">Train Information</a></li>
                {% if request.user.is_staff %}
                <li class="mr-6">
                    <a href="{% url 'add_train' %}">Add Train</a>
                </li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <span class="text-green-600">{{request.user.username}}(balance: {% if request.user.account.balance == 0 %}
                    <span>00</span>
                    {% else %}
                    {{request.user.account.balance}}
                    {% endif %})</span>
                <li class="mr-6"><a href="{% url 'info' %}">Profile</a></li>
                <li class="mr-6">Dashboard</li>
                <li class="mr-6"><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li class="mr-6"><a href="{% url 'login' %}">Login</a></li>
                <li class="mr-6"><a href='{% url 'register' %}'>Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>