{% extends 'base.html' %}
{% block content %}

<style>
    input[type="text"] {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
    input[type="number"] {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
    input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
    input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
</style>

<div class="block md:flex justify-center items-center">
    <div class="w-full md:w-1/2">
        <img src="https://cdn.pixabay.com/photo/2017/05/15/13/56/sign-up-2314914_640.png" alt="#">
    </div>
    <div class="w-full md:w-1/2 bg-gray-400">
        <p class="ml-6 md:ml-16 mt-6 md:mt-12 text-3xl font-bold text-white">
            Train Ticket System
          </p>
          <h1 class="text-3xl font-bold text-gray-100 mt-12 ml-6 md:ml-16">
            SIGN UP
          </h1>
          <p class="ml-6 md:ml-16 text-gray-100">
            Sign up To Enter a New World
          </p>
        <form method="post" class="px-6 md:px-16 py-8 md:py-16">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %} 
            {{ hidden_field.errors }} 
            {{ hidden_field }} 
            {% endfor %}

            <div class="mb-6">
                <div class="w-full px-3 mb-3">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    <p class="text-red-600 text-sm pb-2">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="mb-6">
                <div class="w-full px-3 mb-3">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.nid.id_for_label }}">{{ form.nid.label }}</label>
                    {{ form.nid }}
                    {% if form.nid.errors %}
                    {% for error in form.nid.errors %}
                    <p class="text-red-600 text-sm pb-2">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div>
                <div class="w-full px-3 mb-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.email.id_for_label }}">
                        {{ form.email.label }}
                    </label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <p class="text-red-600 text-sm pb-2">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="w-full px-3 mb-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.password1.id_for_label }}">
                        {{ form.password1.label }}
                    </label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                    <p class="text-red-600 text-sm pb-2">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="w-full px-3 mb-6">
                    <label class="block uppercase tracking-wide text-white text-xs font-bold mb-2" for="{{ form.password2.id_for_label }}">
                        {{ form.password2.label }}
                    </label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                    <p class="text-red-600 text-sm pb-2">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
            {% endfor %}
            <div class="text-center mt-6">
                <button class="bg-gray-600 text-white w-full py-3 cursor-pointer rounded-lg font-bold" type="submit">Sign Up</button>
            </div>
        </form>
        <p class="pb-12 text-white ml-16">
            Have account?
            <a href="{% url 'login' %}">
              <span class="underline">
                Login Here
              </span>
            </a>
          </p>
    </div>
</div>



{% endblock %}