{% extends 'base.html' %}
{% block content %}

<style>
    input[type="text"] {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
    input[type="number"] {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
    input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
    input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}
</style>

<h1 class="text-3xl text-center mt-12">Register Now</h1>


<div class="mb-10 flex justify-between items-center">
    <div class="mx-auto">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/sign-up-4922762-4097209.png?f=webp" alt="#">
    </div>
    <div class="mx-auto">
        <form method="post" class="shadow-md rounded-lg px-8 pt-8 pb-8 mb-4">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %} 
            {{ hidden_field.errors }} 
            {{ hidden_field }} 
            {% endfor %}

            <div class="mb-6">
                <div class="w-full px-3 mb-3">
                    <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                    {{ form.username }}
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    <p class="text-red-600 text-sm pb-2">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="mb-6">
                <div class="w-full px-3 mb-3">
                    <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="{{ form.nid.id_for_label }}">{{ form.nid.label }}</label>
                    {{ form.nid }}
                    {% if form.nid.errors %}
                    {% for error in form.nid.errors %}
                    <p class="text-red-600 text-sm pb-2">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>

            <div>
                <div class="w-full px-3 mb-6">
                    <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="{{ form.email.id_for_label }}">
                        {{ form.email.label }}
                    </label>
                    {{ form.email }}
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <p class="text-red-600 text-sm pb-2">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="w-full px-3 mb-6">
                    <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="{{ form.password1.id_for_label }}">
                        {{ form.password1.label }}
                    </label>
                    {{ form.password1 }}
                    {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                    <p class="text-red-600 text-sm pb-2">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div>
                <div class="w-full px-3 mb-6">
                    <label class="block uppercase tracking-wide text-xs font-bold mb-2" for="{{ form.password2.id_for_label }}">
                        {{ form.password2.label }}
                    </label>
                    {{ form.password2 }}
                    {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                    <p class="text-red-600 text-sm pb-2">{{ error }}</p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
            {% endfor %}
            <div class="text-center mt-6">
                <button class="bg-green-600 rounded-lg w-56 py-3 text-white font-extrabold" type="submit">Sign Up</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}