{% extends "base.html" %} 
{% block content %}
<h1 class="font-bold text-4xl text-center mt-6 py-3 text-green-600">
  Details
</h1>

<div>
    <div class="my-12 p-12">
        <h1>Train Name: {{train.name}}</h1>
        <h1>Departure Time: {{train.time}}</h1>
        <!-- <h1>{{train.seat}}</h1> -->
        {% for station in stations %}
        <h1>Departure: {{station.name}}</h1>
        {% endfor %}
        <h1>Destination: {{train.destination}}</h1>

        <p>Price: {{train.price}}</p>
        
        <h1>Seat Numbers:</h1>
        {% for seat_number in seat_numbers %}
        <h1>{{ seat_number }}</h1>
        {% endfor %}
        <button class="px-3 py-2 bg-green-600 text-white rounded-lg" >Book Ticket</button>
    </div>
</div>

{% endblock content %}
